**/*.pyo
**/*.pyc
**/*.orig
**/*.pid
**/*.egg-info
**/__pycache__
**/.eggs
.coverage
.DS_Store
.pytest_cache
.mypy_cache
.vim.custom
.ctags
*_local.py
venv/*
.vscode/
.idea/
build.env
Makefile.local
.env
sandbox.py
src/junit-report.xml
